* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Kanit', sans-serif;


}


form {
    margin: 1em;
    padding: 1em;

}

fieldset {

    padding: 1em;
    background-color: white;
    border: 0;
    margin-right: -3em;
    margin-left: -3em;

}

.width-50 {
    width: 100%;
    margin: 0 auto;
}


.form-group {

    margin-top: .5em;
    margin-bottom: .5em;

}

.form-label {
    font-weight: bold;
}

.form-control {

    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;

}

.btn {
    background-color: royalblue;
    padding: 8px;
    color: white;
    font-weight: bold;
    margin-top: 1em;

}

.btn-block {
    float: left;
}
#addCoffee{
    margin: 0 auto;
    text-align: center;
    /*width: 100%*/

}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

.coffee_roast{
    border: 1px solid white;
    padding: 5px 10px;
}
